/*
===================================
************** FORMS **************
===================================
*/
fieldset {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

label {
  min-width: 30%;
  flex-grow: 1;
  color: $pop_text;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;

  span {
    display: block;
    width: 100%;
  }

  em {
    color: $text;
    font-weight: 300;
    font-size: 0.625rem;
  }
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
textarea,
select {
  font-family: inherit;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: rgba($text, 0.8);
  border: 1px solid rgba($borders, 0.5);
  border-radius: 0.25rem;
  padding: 0.375rem;
  width: 100%;
  transition: border-color 0.2s ease;

  &:hover,
  &:focus {
    border-color: $borders;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.125rem $pop_text;
  }
}

textarea {
  resize: none;
  min-height: calc(3rem + (0.5rem * 2));
}

/**
 * adapted from https://github.com/darlanrod/input-range-scss/blob/master/example/inputrange.css
 */
[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 100%;

  &[disabled] {
    opacity: 0.5;
  }
}
[type="range"]::-moz-focus-outer {
  border: 0;
}
[type="range"]:focus {
  outline: 0;
}
[type="range"]:focus::-webkit-slider-runnable-track {
  background: $borders_light;
}
[type="range"]:focus::-ms-fill-lower {
  background: lighten($bg, 10%);
}
[type="range"]:focus::-ms-fill-upper {
  background: $borders_light;
}
[type="range"]::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: lighten($bg, 10%);
  border: 2px solid lighten($shadows, 45%);
  border-radius: 5px;
}
[type="range"]::-webkit-slider-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: $pop_text;
  border: 2px solid lighten($links_alt, 40%);
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}
[type="range"]::-moz-range-track {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: lighten($bg, 10%);
  border: 2px solid lighten($shadows, 45%);
  border-radius: 5px;
  height: 4px;
}
[type="range"]::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: $pop_text;
  border: 2px solid lighten($links_alt, 40%);
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
}
[type="range"]::-ms-track {
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
[type="range"]::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: $bg;
  border: 2px solid lighten($shadows, 45%);
  border-radius: 10px;
}
[type="range"]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: lighten($bg, 10%);
  border: 2px solid lighten($shadows, 45%);
  border-radius: 10px;
}
[type="range"]::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: $pop_text;
  border: 2px solid lighten($links_alt, 40%);
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}
[type="range"]:disabled::-webkit-slider-thumb,
[type="range"]:disabled::-moz-range-thumb,
[type="range"]:disabled::-ms-thumb,
[type="range"]:disabled::-webkit-slider-runnable-track,
[type="range"]:disabled::-ms-fill-lower,
[type="range"]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

/*
===================================
************* BUTTONS *************
===================================
*/
button,
button[type="button"],
button[type="submit"],
.button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 500;
  background: $pop_text;
  border: 2px solid $pop_text;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    color: $pop_text;
    background: transparent;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    // box-shadow: 0 0 0 0.125rem $links_alt;
  }
}

.button--secondary {
  @extend .button;
  background: $bg;
  border-color: $bg;
  color: $text;

  &:hover {
    color: $text;
    background: transparent;
    border-color: $text;
  }
}
