.card {
  width: 2.5in;
  height: 3.5in;
  background: black;
  padding: 0.125in;
  border-radius: 0.0625in;
  position: relative;

  // bleed
  &::before {
    content: "";
    width: 2.75in;
    height: 3.75in;
    background: black;
    position: absolute;
    z-index: -1;
    top: -0.125in;
    left: -0.125in;
  }

  // crop border
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.0625in;
    border: 1px solid cyan;
    top: 0;
    left: 0;
  }

  &__name-banner {
    width: 100%;
    height: 10%;
    position: relative;
    z-index: 1;
    @include flex();
    // box-shadow: 0 0.175rem 0.35rem rgba(darken(slategray, 40%), 0.7);

    &::before {
      content: "";
      width: 100%;
      height: 125%;
      background: url("../assets/images/name-scroll_shadow.png") no-repeat;
      background-size: 110% 100%;
      background-position: center;
      background-blend-mode: multiply;
      position: absolute;
      bottom: -15%;
      z-index: -10;
      filter: blur(0.175rem) opacity(75%);
    }

    &-backdrop {
      width: 100%;
      height: 115%;
      background: white;
      position: relative;
      top: -7.5%;
      z-index: -1;
      @include flex(row, wrap);
      box-shadow: 0 0.175rem 0.35rem rgba(darken(slategray, 20%), 0.7);
      mask-image: url("../assets/images/name-scroll_shadow.png");
      mask-size: 115%;
      mask-position: center;

      // texture
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg,
            darken(rgba(slategray, 0.3), 20%),
            transparent 20% 80%,
            darken(rgba(slategray, 0.3), 20%)
          ),
          url("../assets/images/paper-texture.png");
        background-position: bottom;
        background-size: cover;
        background-blend-mode: darken;
        position: absolute;
        z-index: -1;
        filter: grayscale(0.85) brightness(1.25) contrast(135%);
        opacity: 0.65;
        overflow: hidden;
      }
    }

    &-text {
      font-family: "Present Condensed";
      font-size: 1.125rem;
      font-weight: normal;
      padding-top: 0.25rem;
    }

    &-end {
      width: 5%;
      height: 120%;
      background: lightslategrey;
      position: absolute;
      border-radius: 1rem/0.25rem;

      &--left {
        left: -0.25rem;
        // svg from www.heropatterns.com (Endless Clouds)
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='28' height='14'%3E%3Cpath fill='whitesmoke' fill-opacity='0.08' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E"),
          linear-gradient(
            to left,
            var(--scroll-shade-2) 0 10%,
            var(--scroll-highlight),
            var(--scroll-shade-3),
            var(--scroll-shade-3) 70% 90%,
            var(--scroll-shade-4)
          );
        box-shadow: 0.125rem 0 0.3rem darken(slategray, 40%);
      }

      &--right {
        right: -0.25rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='28' height='14'%3E%3Cpath fill='whitesmoke' fill-opacity='0.08' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E"),
          linear-gradient(
            to right,
            var(--scroll-shade-2) 0 10%,
            var(--scroll-highlight),
            var(--scroll-shade-3),
            var(--scroll-shade-3) 70% 90%,
            var(--scroll-shade-4)
          );
        box-shadow: -0.125rem 0 0.3rem darken(slategray, 40%);
      }
    }
  }

  &__image {
    width: calc(100% - 0.5in);
    height: 51%;
    // background: darken(whitesmoke, 10%);
    background: url("https://place-puppy.com/300x300");
    background-size: cover;
    background-position: center;
    position: relative;
    top: -0.5%;
  }

  &__status-banner {
    width: 0.5in;
    height: 100%;
    position: relative;
    margin-left: auto;
    right: -0.5in;
    box-shadow: -0.125rem 0 0.4rem darken(slategray, 30%);

    &-backdrop {
      width: 120%;
      height: 100%;
      background: lighten(palegoldenrod, 5%);
      position: relative;
      left: -12.5%;
      @include flex(row, wrap);
      box-shadow: 0 0.175rem 0.35rem rgba(darken(slategray, 20%), 0.7);
      mask-image: url("../assets/images/status-scroll_shadow.png");
      mask-size: 100%;
      mask-position: center;

      // texture
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: radial-gradient(
            transparent 0 60%,
            darken(rgba(slategray, 0.5), 30%)
          ),
          linear-gradient(
            90deg,
            darken(rgba(slategray, 0.5), 20%),
            transparent 30% 70%,
            darken(rgba(slategray, 0.5), 20%)
          ),
          url("../assets/images/paper-texture.png");
        background-position: top right;
        background-size: cover;
        background-blend-mode: darken;
        position: absolute;
        left: 0;
        filter: grayscale(0.85) brightness(1.1);
        opacity: 0.65;
        overflow: hidden;
      }
    }
  }

  &__scroll {
    width: 100%;
    height: 39.5%;
    // background: lightslategrey;
    position: relative;
    top: -0.5%;
    z-index: 1;
    @include flex();

    &-backdrop {
      width: 103%;
      height: 100%;
      background: white;
      position: absolute;
      z-index: -1;
      @include flex();
      box-shadow: 0 0.175rem 0.35rem rgba(darken(slategray, 20%), 0.7);
      mask-image: url("../assets/images/body-scroll_shadow.png");
      mask-size: 100%;
      mask-position: center;

      // texture
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: radial-gradient(
            transparent 0 30%,
            rgba(slategray, 0.5) 60% 90%,
            darken(rgba(slategray, 0.5), 50%)
          ),
          linear-gradient(
            90deg,
            darken(rgba(slategray, 0.5), 20%),
            transparent 20% 80%,
            darken(rgba(slategray, 0.5), 20%)
          ),
          url("../assets/images/paper-texture.png");
        background-position: bottom;
        background-size: cover;
        background-blend-mode: darken;
        position: absolute;
        z-index: -1;
        filter: grayscale(0.75) contrast(135%) brightness(1.1);
        overflow: hidden;
      }

      // for optional clan mon
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
      }
    }

    &-end {
      width: 103%;
      height: 15%;
      background: var(--scroll-shade-1);
      position: absolute;
      border-radius: 0.5rem/2.5rem;
      @include flex();
      // background-color: #dfdbe5;
      background-image: linear-gradient(
          transparent,
          rgba(var(--scroll-shade-rgb), 0.25)
        ),
        // svg from www.heropatterns.com (Endless Clouds)
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='30' height='15'%3E%3Cpath fill='whitesmoke' fill-opacity='0.12' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E"),
        linear-gradient(var(--scroll-shade-1) 0 35%, var(--scroll-shade-6));

      // silver nub
      &::before {
        content: "";
        width: 2%;
        height: 80%;
        background: whitesmoke;
        position: absolute;
        left: -0.0125in;
        z-index: -1;
        border-radius: 0.5rem/2.5rem;
        background: linear-gradient(
            to right,
            rgba(whitesmoke, 0.25) 0 5%,
            transparent
          ),
          linear-gradient(
            to bottom,
            darken(whitesmoke, 15%) 0 15%,
            darken(slategray, 30%),
            darken(slategray, 50%)
          );
      }

      // silver nub
      &::after {
        content: "";
        width: 2%;
        height: 80%;
        background: whitesmoke;
        position: absolute;
        right: -0.0125in;
        z-index: -1;
        border-radius: 0.5rem/2.5rem;
        background: linear-gradient(
            to left,
            rgba(whitesmoke, 0.25) 0 5%,
            transparent
          ),
          linear-gradient(
            to bottom,
            darken(whitesmoke, 15%) 0 15%,
            darken(slategray, 30%),
            darken(slategray, 50%)
          );
      }

      &--top {
        align-self: flex-start;
        box-shadow: 0 0.125rem 0.25rem darken(slategray, 30%),
          0 -0.125rem 0.5rem darken(slategray, 30%);
      }

      &--bottom {
        align-self: flex-end;
        box-shadow: 0 -0.125rem 0.4rem darken(slategray, 30%);
      }

      &-wraps {
        height: 110%;
        // background: darken(slategrey, 25%);
        background: repeating-linear-gradient(
            90deg,
            transparent,
            transparent 1px,
            rgba($wraps-base, 0.25),
            rgba($wraps-base, 0.25) 2px
          ),
          linear-gradient(
            to bottom,
            $wraps-light 0 15%,
            $wraps-base,
            $wraps-dark
          );
        position: relative;
        top: -5%;
        border-radius: 0.01125in;

        &--outer {
          width: 7%;

          &:first-of-type {
            box-shadow: -0.125rem 0 0.25rem rgba(black, 0.25);
          }
          &:last-of-type {
            box-shadow: 0.125rem 0 0.25rem rgba(black, 0.25);
          }
        }

        &--middle {
          width: 3%;
          z-index: 10;
          box-shadow: 0 0 0.125rem 0.065rem rgba(black, 0.375);
        }
      }

      &-underlay {
        width: 8%;
        height: 98%;
        background: linear-gradient(
          var(--underlay-base),
          var(--underlay-secondary) 15% 30%,
          var(--underlay-base),
          var(--underlay-shade-1)
        );
        position: relative;
        top: -5%;
        overflow: hidden;

        // texture
        &::before {
          content: "";
          width: 150%;
          height: 150%;
          position: absolute;
          left: -0.25rem;
          top: -25%;
          background: url("https://speckyboy.com/wp-content/uploads/2010/04/1-SEAMLESS.jpg"),
            whitesmoke;
          background-position: left center;
          background-size: 125%;
          transform: rotate(75deg);
          background-blend-mode: multiply;
          opacity: 0.2;
        }

        // extra shading
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          background: linear-gradient(
            var(--underlay-base),
            var(--underlay-highlight) 15% 30%,
            var(--underlay-base),
            var(--underlay-shade-2)
          );
          opacity: 0.25;
        }
      }

      &-foil {
        width: 6%;
        height: 104%;
        background: linear-gradient(
          to bottom,
          $foil-base 0,
          lighten($foil-light, 10%) 15% 30%,
          $foil-dull 45%,
          darken($foil-dull-dark, 10%) 55% 60%,
          $foil-dull-dark 95%
        );
        position: relative;
        top: -6%;
        z-index: 1;

        &:nth-child(2),
        &:nth-child(6) {
          box-shadow: 0.125rem 0 0.125rem rgba(black, 0.1625);
        }
        &:nth-child(4),
        &:nth-child(8) {
          box-shadow: -0.125rem 0 0.125rem rgba(black, 0.1625);
        }

        &--skinny {
          width: 1.5%;
        }
      }
    }

    &-inner-text {
      width: 100%;
      display: block;
      padding: 1.35rem 0.5rem;
      align-self: flex-start;
      font-family: "Fontin";
    }

    &-heading-text {
      font-family: "Fontin";
      font-size: 0.5rem;
      font-weight: normal;
      align-self: flex-start;
      text-transform: uppercase;
      padding-bottom: 0.125rem;
      line-height: normal;
      border-bottom: 1px solid black;
    }

    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0.125rem 0;
      font-size: 0.5rem;
      font-weight: bold;
      line-height: 0.65rem;
      align-self: flex-start;
    }

    &-quote {
      font-size: 0.5rem;
      font-style: italic;
      line-height: 0.55rem;
    }
  }
}

.two-lines {
  &__main {
    width: 100%;
    font-size: 1rem;
    padding-top: 0.125rem;
  }

  &__sub {
    width: 100%;
    font-size: 0.75rem;
    margin-top: -0.75rem;
  }
}

// scroll backdrop clan mon overlays
.crab .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Crab.gif") center no-repeat;
  background-size: auto 82%;
  // filter: invert(24%) sepia(98%) saturate(938%) hue-rotate(196deg)
  //   brightness(91%) contrast(92%) saturate(80%);
  filter: invert(75%) sepia(22%) saturate(6741%) hue-rotate(186deg)
    brightness(107%) contrast(101%) brightness(60%);
}
.crane .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Crane.gif") center no-repeat;
  background-size: auto 82%;
  filter: invert(81%) sepia(32%) saturate(707%) hue-rotate(162deg)
    brightness(90%) contrast(89%) brightness(80%);
}
.dragon .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Dragon.gif") center no-repeat;
  background-size: auto 82%;
}
.lion .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Lion.gif") center no-repeat;
  background-size: auto 82%;
}
.phoenix .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Phoenix.gif") center
    no-repeat;
  background-size: auto 82%;
}
.scorpion .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Scorpion.gif") center
    no-repeat;
  background-size: auto 82%;
}
.unicorn .card__scroll-backdrop::after {
  background: url("../assets/images/mons-black/Mon_Unicorn.gif") center
    no-repeat;
  background-size: auto 82%;
}
