.form-container {
  width: 60%;
  max-width: 40rem;
  min-height: 28rem;
  flex: 1 1 auto;
  background: $bg_light;
  padding: 1rem 1.5rem 1.5rem;
  border: 2px solid $borders_light;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba($shadows, 0.4);
  text-align: left;

  &__nav {
    border-bottom: 2px solid $pop_text;
  }

  &__tab {
    font-weight: 500;
    margin: 0 -2px;
    padding: 0.375rem 0.75rem;
    border-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    position: relative;
    box-shadow: 0.125rem 0 0.25rem rgba($shadows, 0.2);

    &:first-child,
    &:last-child {
      margin: 0;
    }

    &:nth-child(1) {
      z-index: 3;
    }

    &:nth-child(2) {
      z-index: 2;
    }

    &:nth-child(3) {
      z-index: 1;
    }

    &:not(.form-container__tab--active) {
      background: $bg;
      border-color: $bg;
      color: $text;

      &:hover,
      &:focus {
        background: transparent;
        border-color: $text;
      }
    }
  }

  &__pane {
    padding-top: 0.75rem;
  }
}

.form {
  fieldset {
    align-items: flex-start;

    &:last-of-type {
      padding-bottom: 1rem;
      border-bottom: 1px solid $borders-light;
      margin-bottom: 1rem;
    }
  }

  label {
    width: 30%;
    position: relative;

    &[for="experienced"] {
      text-align: center;
      margin: auto;
      top: -0.5rem;
    }

    input[type="checkbox"] {
      width: unset;
      display: inline-block;
      position: absolute;
      top: 125%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
