.form-container {
  width: 60vw;
  min-height: 82vh;
  flex: 1 1 auto;
  background: whitesmoke;
  padding: 0.5rem 1.5rem 1.5rem;
  margin-left: 4rem;
  border: 2px solid lightslategray;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem darken(slategray, 50%);
  text-align: left;
}
