.img-upload {
  width: 100%;
  max-width: 24rem;
  margin: 1rem auto 0;
  // &__form {
  //   width: 100%;
  //   position: relative;
  // }

  // &__input-placeholder {
  //   width: 75%;
  //   position: absolute;
  //   top: -2.7rem;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // &__buttons-wrapper {
  //   width: fit-content;
  //   margin: 0 auto;
  //   display: flex;
  //   gap: 0.5rem;
  // }

  // &__upload-button {
  //   display: inline-block;
  //   width: fit-content;
  // }

  // &__file-name {
  //   font-style: italic;
  //   font-weight: 300;
  //   font-size: 0.875rem;
  //   text-align: center;
  //   margin: 0.5rem;
  // }
}

// .img-edit {
//   width: 100%;
//   height: 14rem;
//   border: 2px double rgba($text, 0.5);
//   margin-bottom: 4rem;
//   position: relative;

//   &::before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: rgba($shadows, 0.4);
//   }

//   &::after {
//     content: "";
//     width: 164px;
//     height: 155px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     border: 2px solid white;
//     background: $bg_light;
//     transform: translate(-50%, -50%);
//   }
// }

.preview-container {
  width: 24rem;
  height: 18rem;
  min-width: 12.5rem;
  min-height: 11.9375rem;
  max-width: 30rem;
  max-height: 22rem;
  position: relative;
  z-index: 1;
  border: 2px solid $borders_light;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-container__live-area {
  width: 10.5rem;
  height: 9.9375rem;
  border: 2px solid whitesmoke;
  box-shadow: 0 0 0 100rem rgba(black, 0.4);
  pointer-events: none;
  position: relative;

  img {
    max-height: 120%; // fallback for square images
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    pointer-events: auto;

    &.horizontal {
      max-height: 120%;
      max-width: initial;
    }
    &.vertical {
      max-width: 120%;
      max-height: initial;
    }
  }
}
